REFRESH_INTERVAL=0
LAST_LEDGER_INDEXED=0

# Database
DB_SERVER_NAME=localhost
DB_NAME=core
DB_USER=stellar
DB_PASSWORD=
DB_PORT=5432

# Elasticsearch Configs
ES_EC_CLUSTER_ID=
ES_EC_REGION=
ES_EC_USER_PASSWORD=
ES_PORT=9343
ES_TRANSPORT=elastic-cloud